body {
  background-color: white;
  color: black;
  font-family: "museo-sans",serif;
  height: 100%;
  margin: 0px;
}
div {
  margin: auto;
}
a {
  color: inherit;
}
.container {
  text-align: center;

  /*https://css-tricks.com/centering-css-complete-guide/#vertical-inline-multiple*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

#hero {
  background-color: black;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80%;
  background-color: #ec008c;
  color: white;
}
.title {
  font-size: 48px;
  font-weight: bold;
}
.subtitle {
  font-size: 32px;
  font-weight: bold;
}

#github-container {
  height: 20%;
  background-color: #ec008c;
}
.github {
  width: 100px;
}
