body {
  margin: 0px;
  background-color: #ededed;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

img:hover {
  cursor: auto;
}

#colorstrip{
    width: 100%; height: 350px;
    background-color: #46b5a7;
}

.hello {
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: block;
  padding: 133px;
}

.responsive {
  width: 100%;
  padding: 8%;
  box-sizing: border-box;
}

.border {
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  border-color: #4d9e93;
}

.navbar {
  font-size: 15px;
  background-color: white;
  color: #4d9e93;
  padding: 45px;
  padding-bottom: 60px;
}

.navbar-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 50%;
  float: right;
}

.navbar-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 50%;
  float: left;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  letter-spacing: 2px;
  margin-left: 20px;
  padding-left: 3px;
  padding-right: 3px;

}

.nav-link:hover {
  color: black;
  background-color: #f6f381;
  box-sizing: border-box;
}

.nav-link:first-child {
  margin-left: 10px;
}

.nav-link:last-child {
  margin-right: 10px;
}

.selected {
  background-color: white;
  color: black;
}

@media (max-width: 600px){
    .responsive {
      background-color: #4d9e93;
    }
    body {
      background-color: #4d9e93;
    }
    .nav-link {
    display: block;
    }
