body {
  margin: 0px;
  background-color: #fff9da;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  text-align: center;
}

.title {
  width: 50%;
  padding: 30px;
}

#colorstrip {
    height: 340px;
    background-color: #ffef9a;
}

.space {
  padding: 45px;
}

.text {
  text-transform: uppercase;
  padding: 30px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.small {
  font-size: 12px;
}
