body {
    background-color: ffffff;
}

img {
    width: 100%;
    height: auto;
}

nav {

font-size:      1.2em;
text-align: center;
display: flex;
justify-content: space-around;

}

a {
font-family: Arial, sans-serif;
color: 000be1;
padding:        2px 10px;
border: 1px solid #555;
text-decoration: none;


}
