body {   background-color: powderblue;
      color: darkgray;
        font-family: helvetica;
  }
  a {color: darkgray;
  }
  a:hover {color: black;
  }
h1 {
    color: black;
    text-align: center;
}
P { text-align: center }
img {
    display: block;
    margin: auto;
  }
