body {   background-color: E2F1F2;
      color: #566573;
        font-family: helvetica;
      background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.11),rgba (26,82,118,0.66))
  }
  a {color: #566573;
  }
  a:hover {color: black;
  }
h1 {
    color: black;
    text-align: center;
}
P { text-align: center }
img {
    display: block;
    margin: auto;
  }
