body {   background-color: E2F1F2;
      color: #566573;
        font-family: helvetica;
      background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.11),rgba(26,82,118,0.96));
       font-size:14pt
  }
  a {color: #566573;
  }
  a:hover {color: black;
  }
h1 {
    color: black;
    text-align: center;
    	font-size:26pt;
}
.bigger {font-size:16pt;
      text-align: center;
}
.smaller {font-size:12pt;
      text-align: center;
}
P { text-align: center }
img {
    display: block;
    margin: auto;
    width: 350px;
    height: 190px;
    position: absolute;
    clip: inherit;
    object-fit: cover;
  }

.flex {
  padding: 10px;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-img {
  padding: 5px;
  width: 350px;
  text-align: center;
}
