body {
  margin: 0px;
}

.nav {
  position: fixed;
  top: 650px;
  left: 47.5%;
  z-index: 10;
}

.slide {
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

  transition-property: left;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  left: 100%;
}
.slide-visible {
  left: 0%;
}

#slide1 {
  background-color: lightblue;
}
#slide2 {
  background-color: pink;
}
#slide3 {
  background-color: lightgreen;
}
#slide4 {
  background-color: #ffdd00;
}
#slide5 {
  background-color: lavender;
}
#slide6 {
  background-color: #ffc293;
}
#slide7 {
  background-color: #ffb2bd;
}
#slide8 {
  background-color: lightblue;
}
#slide9 {
  background-color: #black;
  font-size: 100px;


  }



.helper-open {
  position: fixed;
  right: 80px;
  bottom: 40px;

  z-index: -1;
}
.helper {
  position: fixed;
  height: 400px;
  width: 250px;
  right: 40px;
  bottom: 50px;
  border: 2px solid purple;
  text-align: center;
  color: purple;
  z-index: -1;
}

.mrt{
  height: 75%;
  width: 75%;
}
.on-top {
  z-index: 1;
}
