body {

  background: linear-gradient(to bottom, #cc3300 0%, #660033 100%); text-align: center;font-family: bold;
}
 h1 {font-size: 48pt}

p{background-color: #cc3300;
font-size: 14pt;
border: .5px solid white;
}

.comments-top-container {text-align: left;}
