body {
  margin: 0px;
}

img:hover {
  cursor: pointer;
}

.smaller {
  width: 100%;
  border-style: inset;
  border-color: #c8d9f4;
  border-width: 50px;
  box-sizing: border-box;
}

.responsive {
  width: 100%;
  padding: 10%;
  background-color: lightblue;
  box-sizing: border-box;
}

.navbar {
  font-size: 36px;
  background-color: lightgreen;
  color: blue;
}

.nav-link {
  text-decoration: none;
  padding-left: 100px;
}
.nav-link:hover {
  background-color: blue;
  color: lightgreen;
}
.home {
  font-size: 40px;
  padding-left: 20px;
}
.selected {
  text-decoration: underline;
}
