body {
margin: 0px;
background-color: #324460;
  height: 100%;
}

.images{
  position:relative
}

.imagetext{
  position:absolute;left:0;top:0;
  font-size:18px;
  padding-top:16px!important;
  padding-bottom:16px!important;
  color:#fff!important;
  background-color:#000!important;
  font-family: 'Muli';
}
.whitebutton {
  color:#000!important;
  background-color:#fff!important;
}
.bigimage {
  height: calc(100% - 65px);
 width: auto;
}
}
.buttons {
  font-family: 'Muli';
  text-align:center!important;
  font-size:18px;
  color:#fff!important;
  position:absolute;
  left:50%;
  bottom:0%;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%);
}

.leftbutton {
  float:left!important;
  cursor:pointer;
  }

.mySlides {
  display:none
}

  .rightbutton {
    float:right!important;
    cursor:pointer;
    }

    .scroller {
      height:13px;
      width:13px;
      border-radius:50%;
      border:1px solid #ccc!important;
     background-color:transparent!important;
     cursor:pointer;
       display: inline-block;
    }

    .buttonhover:hover{color:#000!important;
      background-color:#fff!important;
    }

@media (max-width: 600px){
  .responsive {
    background-color: salmon;
  }
  .navbar {
    display: block;
    height: 130px;
  }
}
a {
  color: #324460;
  }

  a:visited  {
    color: #324460;
  }


.navbar {
  font-size: 24px;
  background-color: #f2f7ff;
  color: #f2f7ff;
  font-family: 'Lobster', cursive;
  height: 65px;
}

.nav-link {
  text-decoration: none;
    padding: 20px;
}
.nav-link:hover {
  background-color: #324460;
  color: white;
}

.selected {
  background-color: gray;
}


.flex {
  padding: 10px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-pl {
  padding: 5px;
  flex: 1;
}

.flex1 {
  padding: 10px;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-pl1 {
  width: 200px;
  padding: 10px;
  flex: 1;
}

.flex-pl1:hover {
  width: 200px;
  flex: 1;
  background-color:#f2f7ff;
}
