
<head>{background-color: :blue ; align-items: left}




body {background-color:red ;text-align: left;background-image:radial-gradient(circle at 20% 50%,rgba(0,0,0,0.12),rgba(11,82,118,0.94));}
p{font-size: 14pt} p{font-family: impact}

.red{
  color: red;
}
