body {
  background-color: #fffded;
  text-align: center;
}

h1 {
  font-family: helvetica;
  font-size: 24pt;
  color: #ed6f00;

}

h4 {
  font-family: helvetica;
  font-size: 12pt;
  color: #f0b27a;
}

body {
  font-family: helvetica;
  font-size: 10pt;

}

h4.line {
  line-height: 0.01
  }

p {
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
}
